.gallery-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.gallegry-description{
    visibility: visible;
}


/* Landscape phones ,tablet and down */
@media (max-width: 500px) { 
    .gallegry-description   {
        visibility: hidden;
    }
}