body
{
    /* Background pattern from Subtle Patterns */
    background-image: url("../background-image/background.png");
    margin: 0;
    color: ghostwhite;

}

.fulltext{
    margin-left: 7%;
    margin-right: 7%;
}

p.text{
    font-size: large;

}

h1.title
{
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 400%;
}

@media(max-width: 480px) {
h1.title
{
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 200%;
}
}


footer
{
    background-color: rgb(34, 34, 34);
    width: 100%;
}

.footer-style{
    margin-top: 50px;
    text-align: center;
    font-size: 4em ;
}


.socials
{
	width:100%;
	text-align: center;
	background-color: #292929;

}

i{
    font-size: 1in;
    color: white;
}


.socialdivs
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.fb
{
	width: 250px;
	height: 155px;
	float:left;
}

.fb:hover
{
	background-color: #4668b3;
}

.yt
{
	width: 250px;
	height: 155px;
	float:left;
}

.yt:hover
{
	background-color: #d94348;
}

.tw
{
	width: 250px;
	height: 155px;
	float:left;
}

.tw:hover
{
	background-color: #3095d3;
}

.gplus
{
	width: 250px;
	height: 155px;
	float:left;
}

.gplus:hover
{
	background-color: #d95333;
}
