
.center {width: 900px; margin: 0 auto; margin-top: 150px;}		
body{
	background-color: #c34f4f;
	margin: 0 !important;
}

#panel424 {
	width: 500px; 
	margin: 0 auto; 
	padding: 0; 
	background: #eaeaea;
	border: 1px solid silver;
	font: 16px calibri;
	letter-spacing: -1px;
	padding: 15px 0 0;
	-webkit-box-shadow: 0 0 30px black; 
    	-moz-box-shadow: 0 0 30px black; 
   	box-shadow: 0 0 30px black; 
}
#panel423 {
	width: 1000px; 
	margin: 0 auto; 
	padding: 0; 
	background: #eaeaea;
	border: 1px solid silver;
	font: 16px calibri;
	letter-spacing: -1px;
	padding: 15px 0 0;
	-webkit-box-shadow: 0 0 30px black; 
    	-moz-box-shadow: 0 0 30px black; 
   	box-shadow: 0 0 30px black; 
}
#panel {
	width: 400px; 
	margin: 0 auto; 
	padding: 0; 
	background: #eaeaea;
	border: 1px solid silver;
	font: 16px calibri;
	letter-spacing: -1px;
	padding: 15px 0 0;
	-webkit-box-shadow: 0 0 30px black; 
    	-moz-box-shadow: 0 0 30px black; 
   	box-shadow: 0 0 30px black; 
}
#panel4 {
	position:absolute;
	right: 0;
	opacity:0.88;
	width: 150px; 
	float: right;
	margin: 0 auto; 
	padding: 0; 
	background: #eaeaea;
	border: 1px solid silver;
	font: 16px calibri;
	letter-spacing: -0.5px;
	padding: 15px 0 0;
	-webkit-box-shadow: 0 0 30px black; 
    	-moz-box-shadow: 0 0 30px black; 
   	box-shadow: 0 0 30px black; 
}
#panel5 {
	position:absolute;
	right: 0;
	opacity:0.88;
	width: 150px; 
	float: right;
	margin: 0 auto; 
	padding: 0; 
	background: #eaeaea;
	border: 1px solid silver;
	font: 16px calibri;
	letter-spacing: -0.5px;
	padding: 15px 0 0;
	-webkit-box-shadow: 0 0 30px black; 
    	-moz-box-shadow: 0 0 30px black; 
   	box-shadow: 0 0 30px black; 
}
#panel3 {
	width: 1250px; 
	margin: 0 auto; 
	padding: 0; 
	background: #fff;
	border: 1px solid silver;
	font: 16px calibri;
	letter-spacing: -0.5px;
	padding: 15px 0 0;
	-webkit-box-shadow: 0 0 30px black; 
    	-moz-box-shadow: 0 0 30px black; 
   	box-shadow: 0 0 30px black; 
}
#paneluwaga {
 	position: absolute; 
  	left: 0; 
  	right: 0; 
  	margin-left: auto; 
  	margin-right: auto;
	width: 350px; 
	padding: 0; 
	background: green;
	border: 1px solid silver;
	font: 16px calibri;
	letter-spacing: -0.5px;
	padding: 15px 0 0;
	-webkit-box-shadow: 0 0 30px black; 
    	-moz-box-shadow: 0 0 30px black; 
   	box-shadow: 0 0 30px black; 
}
#panel2 {
	width: 400px; 
	margin: 0 auto; 
	padding: 0; 
	background: #fff;
	border: 1px solid silver;
	font: 16px;
	letter-spacing: -1px;
	padding: 15px 0 0;
	-webkit-box-shadow: 0 0 2px silver; 
    	-moz-box-shadow: 0 0 2px silver; 
   	box-shadow: 0 0 2px silver; 
}
#down {
	position: fixed;
	font-color: black;
	opacity:0.7;
  	left: 0; 
  	right: 0; 
	bottom: 0; 
	margin: 0 auto; 
	padding: 0; 
	background: #fff;
	border: 1px solid silver;
	font: 16px;
	letter-spacing: -1px;
	padding: 15px 0 0;
	-webkit-box-shadow: 0 0 50px black; 
    	-moz-box-shadow: 0 0 50px black; 
   	box-shadow: 0 0 50px black; 
}
#header {
	width: 800px;
	font-color: black;
	opacity:100;
	margin-left: auto;
	margin-right: auto;
  	left: 0; 
  	right: 0; 
	position: up;
	bottom: 0; 
	margin: 0 auto; 
	padding: 0; 
	#background: #fff;
	#border: 1px solid silver;
	font: 16px;
	letter-spacing: -1px;
	padding: 15px 0 0;
	#-webkit-box-shadow: 0 0 15px black; 
    	#-moz-box-shadow: 0 0 15px black; 
   	#box-shadow: 0 0 15px black; 
}
#logowanie_panel {
	height: 600px;
	width: 800px;
	font-color: black;
	opacity: 0.8;
  	left: 0; 
  	right: 0; 
	position: up;
	bottom: 0; 
	margin: 0 auto; 
	padding: 0; 
	#background: #FACC2E;
	border: 1px solid silver;
	font: 16px;
	letter-spacing: -1px;
	padding: 15px 0 0;
	#-webkit-box-shadow: 0 0 15px black; 
    	#-moz-box-shadow: 0 0 15px black; 
   	box-shadow: 0 0 15px black; 
}
form {margin: 0;}
label {
	display: block;
	width: 260px;
	padding: 10px 20px;
	color: #696969;
	font-size: 16px;
	text-shadow: 0 0 1px silver;
}
#username, #password {
	font-size: 22px;
	display: block;
	width: 360px; 
	margin: 0 auto;
	padding: 10px 5px;
	border: 1px solid silver;
	outline: 5px solid #ebebeb;
}
#username:focus, #password:focus {
	outline: 5px solid #e5f2f8;
}
#lower {
	background: #ecf2f5;
	width: 360px;
	padding: 15px 20px;
	margin-top: 20px;
}
.check {
	display: inline;
	float: none;
	font-size: 11px;
	padding: 5px;
}
input[type="submit"] {
	width: 90px;
	padding: 5px 13px;
	border: 1px solid #005f85;
	color: white;
	text-shadow: 0 0 1px black;
	background: #98c9dc;
}

#panel, input[type="submit"] {
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px; 
	border-radius: 5px; 
}
#box {
	width: 400px;
	background: #98c9dc;
	border: 1px solid silver;
	-webkit-box-shadow: 0 0 2px silver; 
   	-moz-box-shadow: 0 0 2px silver; 
   	box-shadow: 0 0 2px silver;
    	color: #696969; 
}
#boxtestacc {
	width: 400px;
	background: #e6604d;
	border: 1px solid silver;
	-webkit-box-shadow: 0 0 2px silver; 
   	-moz-box-shadow: 0 0 2px silver; 
   	box-shadow: 0 0 2px silver; 
}
#mysqlbox {
	width: 400px;
	background: yellow;
	border: 1px solid silver;
	-webkit-box-shadow: 0 0 2px silver; 
   	-moz-box-shadow: 0 0 2px silver; 
   	box-shadow: 0 0 2px silver; 
}
#adminmsg {
	width: 400px;
	background: green;
	border: 1px solid silver;
	-webkit-box-shadow: 0 0 2px silver; 
   	-moz-box-shadow: 0 0 2px silver; 
   	box-shadow: 0 0 2px silver; 
}
#userbar {
	background: grey;
   	font-family: helvetica, arial, sans-serif;
	border: 1px solid silver;
	-webkit-box-shadow: 0 0 2px silver; 
   	-moz-box-shadow: 0 0 2px silver; 
   	box-shadow: 0 0 5px black; 
	color: grey;
	-moz-opacity:0.8;
	filter: alpha(opacity=80);
}
#prawy {
	float: right;
}
#srodek {
	float: center;
	width: 400px;
}
#panel_pros {
	opacity: 0.8;
	width: 400px; 
	margin: 0 auto; 
	padding: 0; 
	#background: #eaeaea;
	border: 1px solid silver;
	border-color: red;
	font: 16px calibri;
	font-color: red;
	letter-spacing: -0.5px;
	padding: 5px 0 0;
	-webkit-box-shadow: 0 0 30px black; 
    	-moz-box-shadow: 0 0 30px black; 
   	box-shadow: 0 0 30px black; 
}