
.icon-user-outline:before { content: '\e800'; } /* '' */
.icon-facebook-2:before { content: '\f30c'; } /* '' */
.icon-gplus-1:before { content: '\f30f'; } /* '' */
.icon-tumblr:before { content: '\f315'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */