
.icon-twitter-1:before { content: '\e804'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-facebook-2:before { content: '\f30c'; } /* '' */
.icon-gplus-1:before { content: '\f30f'; } /* '' */